pipeline/Convert_CSV_To_JSON_Pipeline.json
{
	"name": "Convert_CSV_To_JSON_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataActivity",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSV_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IFfileexists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMetadataActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetMetadataActivity').output.exists, true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachActivity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IFfileexists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataActivity').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"description": "copy data from raw to processed",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": {
											"value": "@replace(item().name, '.csv','.json')",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Index",
												"type": "String"
											},
											"sink": {
												"path": "$['Index']"
											}
										},
										{
											"source": {
												"name": "User Id",
												"type": "String"
											},
											"sink": {
												"path": "$['User Id']"
											}
										},
										{
											"source": {
												"name": "First Name",
												"type": "String"
											},
											"sink": {
												"path": "$['First Name']"
											}
										},
										{
											"source": {
												"name": "Last Name",
												"type": "String"
											},
											"sink": {
												"path": "$['Last Name']"
											}
										},
										{
											"source": {
												"name": "Sex",
												"type": "String"
											},
											"sink": {
												"path": "$['Sex']"
											}
										},
										{
											"source": {
												"name": "Email",
												"type": "String"
											},
											"sink": {
												"path": "$['Email']"
											}
										},
										{
											"source": {
												"name": "Phone",
												"type": "String"
											},
											"sink": {
												"path": "$['Phone']"
											}
										},
										{
											"source": {
												"name": "Date of birth",
												"type": "String"
											},
											"sink": {
												"path": "$['Date of birth']"
											}
										},
										{
											"source": {
												"name": "Job Title",
												"type": "String"
											},
											"sink": {
												"path": "$['Job Title']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CSV_raw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ProcessedDStoJSON",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}