pipeline/dbtodbincrementalloadclasspipeline1.json
{
	"name": "dbtodbincrementalloadclasspipeline1",
	"properties": {
		"description": "Source \nDestination \nlookup\ncopy activity",
		"activities": [
			{
				"name": "Lookup_target",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as date1 from [dbo].[CustomerDetails_Target1]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2target",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_data_from_sourcedbtotargetdb",
				"description": "only new records or loads known as incremental load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM [dbo].[CustomerDetails_Source1] WHERE ModifiedDate > ''', activity('Lookup_target').output.firstRow.date1, '''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable2Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable2target",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}