pipeline/PL_File_Check_And_Load.json
{
	"name": "PL_File_Check_And_Load",
	"properties": {
		"activities": [
			{
				"name": "GM_Check_File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IF_File_Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GM_Check_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('GM_Check_File').output.childItems), 0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FE_Process_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IF_File_Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_Check_File').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_CSV_To_SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE dbo.Customers;",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Index",
												"type": "String"
											},
											"sink": {
												"name": "Index",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Customer Id",
												"type": "String"
											},
											"sink": {
												"name": "Customer Id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "First Name",
												"type": "String"
											},
											"sink": {
												"name": "First Name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Last Name",
												"type": "String"
											},
											"sink": {
												"name": "Last Name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Company",
												"type": "String"
											},
											"sink": {
												"name": "Company",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String"
											},
											"sink": {
												"name": "City",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Country",
												"type": "String"
											},
											"sink": {
												"name": "Country",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phone 1",
												"type": "String"
											},
											"sink": {
												"name": "Phone 1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phone 2",
												"type": "String"
											},
											"sink": {
												"name": "Phone 2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Email",
												"type": "String"
											},
											"sink": {
												"name": "Email",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Subscription Date",
												"type": "String"
											},
											"sink": {
												"name": "Subscription Date",
												"type": "Date"
											}
										},
										{
											"source": {
												"name": "Website",
												"type": "String"
											},
											"sink": {
												"name": "Website",
												"type": "String"
											}
										}
									]
								}
							},
							"outputs": [
								{
									"referenceName": "DS_AzureSQL_Sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Lookup_Record_Count",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy_CSV_To_SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT COUNT(*) AS total_count FROM dbo.Customers;\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_AzureSQL_Sink",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "Wait_No_File",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "IF_File_Exists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 300
				}
			}
		],
		"annotations": []
	}
}